{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.recent_posts.title | markdownify }}</h2>
            </div>

            <p class="lead">
              {{ .Site.Params.recent_posts.subtitle | markdownify }}
            </p>

            <!-- *** BLOG HOMEPAGE *** -->

            <div class="row">
            
                <!-- *** INSERT MAP HERE *** -->
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.0064554526077!2d-117.08666268481236!3d33.12123398087867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf4f8c5b4f3a3%3A0x5e7a26b8d2427005!2s301%20Enterprise%20St%2C%20Escondido%2C%20CA%2092029%2C%20USA!5e0!3m2!1sen!2s!4v1628965688715!5m2!1sen!2s"  width="1100" height="450" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>                


            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
