{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if isset .Site.Data "testimonials" }}
{{ if gt (len .Site.Data.testimonials) 0 }}




<!-- Existing Carousel Code -->
<!-- ... Your carousel HTML code would go here ... -->

<!-- buttons -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="button-container">
        <div class="dropdown">
            <a href class="button">E39_Facelift</a>
            <div class="dropdown-content">
                <a href="/E39Source/blog/production-changes/">Production Changes</a>
                <a href="/E39Source/blog/europe_vs_north_america/">Europe vs North America</a>
                <a href="/E39Source/blog/facelift-lighting/">Headlights / Tail Lights</a>
                <a href="/E39Source/blog/automatic-headlight-retrofit/">Automatic Headlights</a>
                <a href="/E39Source/blog/nav-guide/">Navigation System</a>
                <a href="/E39Source/blog/sirius-xm/">Radio, Sirius XM, Auxiliary Input</a>
                <a href="/E39Source/blog/auxiliary-input-kit-installation-non-nav/">Non-Nav Auxiliary Input</a>
                <a href="/E39Source/blog/facelift-steering-wheel-upgrade/">M5 Steering Wheel</a>
                <a href="#">M5 Shift Knob</a>
                <a href="#">Front PDC Retrofit</a>
                <a href="#">HVAC Panel (Max AC)</a>
                <a href="#">Trunk Emergency Release Handle</a>
                <a href="#">Wheel Center Caps</a>
            </div>
        </div>
        <a href="/E39Source/blog/nav-guide/" class="button">E39 Nav Guide</a>

        <a href="/E39Source/blog/sirius-xm/" class="button">E39 Radio, Aux, SiriusXM</a>

        <a href="/E39Source/blog/must-have-mods/" class="button">E39 M5 Must-Have Mods</a>

        <a href="/E39Source/blog/engine-reliability/" class="button">S62 Reliability</a>

        <a href="/E39Source/categories/e39-m5-bmw/" class="button">All E39 M5 Content</a>

    </div>
</body>
</html>






<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.testimonials.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.testimonials.subtitle | markdownify }}
                </p>

                <!-- *** TESTIMONIALS CAROUSEL *** -->

                <ul class="owl-carousel testimonials same-height-row"
                    data-items="{{ default 4 .Site.Params.CarouselTestimonials.items }}"
                    data-autoplay="{{ default false .Site.Params.CarouselTestimonials.auto_play }}"
                    data-slide-speed="{{ default 2000 .Site.Params.CarouselTestimonials.slide_speed }}"
                    data-pagination-speed="{{ default 1000 .Site.Params.CarouselTestimonials.pagination_speed }}">
                    
                    {{ range .Site.Data.testimonials }}
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text scrollable-testimonial">
                                <p>{{ .text | markdownify }}</p>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>

                <!-- /.owl-carousel -->

                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
{{ end }}
