<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<style>
    body {
        font-family: Arial, sans-serif;
    }
    .product-table {
        width: 100%;
        max-width: 900px;
        margin: auto;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .product-table td {
        text-align: center;
        vertical-align: middle;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
    .product-table img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    .buy-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    @media (max-width: 600px) {
        .product-table, .product-table td {
            width: 100%;
        }
        .product-table img {
            max-width: 140px;
        }
    }
</style>

<table class="product-table">
    <!-- Sample row -->
    {{ range .Site.Data.products }}
    <tr>
        <td><img src="{{ .image }}" alt="{{ .name }}"></td>
        <td>{{ .description }}</td>
        <td>{{ .price }}</td>
        <td><button
            style="background-color:#255495;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em;cursor:pointer"
            id="checkout-button-price_1OXDLjBq80raCk7gNgyWRfja"
            role="link"
            type="button"
          >
            Buy It Now
          </button>
          </td>
      </tr>
    {{ end }}
</table>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_test_51M8rE7Bq80raCk7gg6bo8uEwcYwpWNZmBDwiwfiJoyA1ad2nqaVGooGn3OLtEuXt39aeuU1Mcvx5nNVjlRbN3dXv007K4Dtotk');

  var checkoutButton = document.getElementById('checkout-button-price_1OXDLjBq80raCk7gNgyWRfja');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1OXDLjBq80raCk7gNgyWRfja', quantity: 1}],
      mode: 'payment',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: 'https://upsella.org/success',
      cancelUrl: 'https://upsella.org/canceled',
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
  