
<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<!-- Getting params -->
{{ $htmlTable := .Inner | markdownify }}
{{ $table_class := .Get "table_class" }}
{{ $thead_class := .Get "thead_class" }}

<!-- Ensure default classes are set if none are provided -->
{{ if not $table_class }}
    {{ $table_class = "table" }}
{{ end }}

{{ if not $thead_class }}
    {{ $thead_class = "thead-light" }}
{{ end }}

<style>
    body {
        font-family: Arial, sans-serif;
    }
    .product-table {
        width: 100%;
        max-width: 900px;
        margin: auto;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .product-table td {
        text-align: center;
        vertical-align: middle;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
    .product-table img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    .stripe-buy-button {
        width: 100px; /* Allows the cell to shrink to content size */
        max-width: 100px; /* Ensures the cell (and hence the button) does not exceed 100px in width */
        padding: 0; /* Optional: Adjust padding as needed */
    }
    @media (max-width: 600px) {
        .product-table, .product-table td {
            width: 100%;
        }
        .product-table img {
            max-width: 140px;
        }
    }
</style>

<table class="{{ $table_class }}">
  {{ $previous := 0 }}
  {{ range $index, $element := .Site.Data.products }}
    {{ if eq (mod $index 2) 0 }}
      {{ $previous = $element }}
    {{ else }}
      <tr>
        <td>
            <stripe-buy-button class="stripe-buy-button"
                buy-button-id="{{ $previous.stripe_id }}"
                publishable-key="{{ $previous.stripe_key }}">
            </stripe-buy-button>
        </td>
        <td>
            <stripe-buy-button class="stripe-buy-button"
                buy-button-id="{{ $element.stripe_id }}"
                publishable-key="{{ $element.stripe_key }}">
            </stripe-buy-button>
        </td>
      </tr>
      {{ $previous = 0 }}
    {{ end }}
  {{ end }}
  {{ if $previous }}
    <tr>
      <td>
          <stripe-buy-button class="stripe-buy-button"
              buy-button-id="{{ $previous.stripe_id }}"
              publishable-key="{{ $previous.stripe_key }}">
          </stripe-buy-button>
      </td>
    </tr>
  {{ end }}
</table>